{% extends 'backend/index.html.twig' %}
{% block title %} Administracion | Recorrido{% endblock %}
  {# <select id="alums">
          <option value="-34.9425087142857,-57.9822199938775"> tito molina </option>
          <option value="-34.8828151,-57.8450451"> lucassssss gauna </option>
        </select>

  <button id="agregar">Agregar recorrido</button> #}

{% block addCSS %}
  <link rel="stylesheet" href="{{resource}}css/leaflet.css">
  <link rel="stylesheet" href="{{resource}}css/leaflet-routing-machine.css">
{% endblock %}

{% block addJS %}
  <script src="{{resource}}js/list.js"></script>
  <script src="{{resource}}js/list.pagination.js"></script>
  <script src="{{resource}}js/jquery.select-filter.min.js"></script>
  <script src="{{resource}}js/leaflet.js"></script>
  <script src="{{resource}}js/leaflet-routing-machine.js"></script>
  <script src="{{resource}}js/jquery-2.1.4.js"></script>
{% endblock %}

{% block dataAdmin %}
  <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">Listado de Alumnos</div>
      <!-- Table -->
      <div class="panel-body" id="paginacion">

        <div class="input-group col-md-12">
            <div class="input-group-addon">
              <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                <span class="glyphicon glyphicon-filter"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="opcionesDeFiltrado" style="padding:10px;">
                <li role="presentation">
                    <input type="checkbox" name="busqueda" value="nombre" checked> 
                    <label>Nombre</label>
                </li>
                <li role="presentation">
                    <input type="checkbox" name="busqueda" value="dni" checked> 
                    <label>DNI</label>
                </li>
              </ul>
            </div>
            <input type="text" class="input-busqueda form-control" placeholder="Inicie su búsqueda aquí" />
            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>

        </div>                                      

        <table class="table">
          <thead>
            <tr>
              <th>
                <button class="sort btn" data-sort="nombre">
                    <span class="glyphicon glyphicon-sort"></span> 
                </button>
                Nombre
              </th>
              <th>
                <button class="sort btn" data-sort="dni">
                    <span class="glyphicon glyphicon-sort"></span>
                </button>
                DNI
              </th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody class="list">
            {% for alumno in alumnos %}
              <tr>
                <td class="nombre">{{alumno.apellido}}, {{alumno.nombre}} </td>
                <td class="dni">{{alumno.dni}}</td>
                <td>
                    <div class="">
                        <span class="btn btn-success add" lat="{{alumno.latitud}}" lng="{{alumno.longitud}}" title='Agregar'>
                            <span class='glyphicon glyphicon-plus'></span>
                        </span>
                    </div>               
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="col-md-4 col-md-offset-4">
            <ul class="pagination"></ul>
        </div>
      </div>
    <script type="text/javascript">
      $( document ).ready(function() {
          var monkeyList = new List('paginacion', {
            valueNames: ['id', 'nombre','apellido','dni'],
            page: {{paginacion}},
            plugins: [ ListPagination({}) ] 
        });

        $(".input-busqueda").keyup(function(){
            filtros = [];
            $("input[name='busqueda']:checked").each(function() {
                filtros.push($(this).val());
            });
            monkeyList.search($(this).val(), filtros)
        });
      });
        
    </script>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">Mapa del Recorrido</div>
    <div class="panel-body padding0" id="paginacion">
      <div id="map" style="width: auto; height: 500px; position: relative;"></div>
    </div>
  </div>

<script type="text/javascript">
  $( document ).ready(function() {

    var map = L.map('map', {
      center: [-34.921387, -57.954695],
      zoom: 14,
    });

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap - Grupo 57 - Proyecto de Software 2015 - Facultad De Informática de la UNLP'
        }).addTo(map);

    var anterior;
    var actual;
    map.locate();
    map.on('locationfound', onLocationFound);
    map.on('locationerror', function(){
      alert('No se pudo encontrar su ubicación');
    });
    function onLocationFound(e) {
      anterior = e.latlng;
      L.marker(anterior,{
        draggable: false,
        title: "Aca esta Usted!",
        alt: "Aca esta Usted!"
      }).addTo(map)
      map.panTo(anterior);
    }

    $('.add').click(function(){
      if ($(this).attr('lat') != 0) {
        actual = L.latLng($(this).attr('lat'), $(this).attr('lng'));
        $(this).toggleClass('add remove');
        $(this).toggleClass('btn-success btn-default');
        $(this).children().toggleClass('glyphicon-plus glyphicon-map-marker');
        $(this).attr('disabled', 'disabled');
        L.Routing.control({
            waypoints: [
                L.latLng(anterior),
                L.latLng(actual)
            ],
            autoRoute: true,
            draggableWaypoints: false
        }).addTo(map).hide();
      }else{
        alert('El Alumno seleccionado no tiene cargado una dirección ');
      };
    });

  });
  
  </script>
{% endblock %}        
