{% extends 'AnexaCooperadoraBundle:backend:inicio.html.twig' %}

{% block title %} Administración | Cuotas | Ver{% endblock %}

{% block dataAdmin %}
    {% if msjImpagas is defined %}
        <div class="alert alert-{% if success %}success{% else %}danger{% endif %} alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <strong>Atenci&oacute;n! </strong>{{msjImpagas}}           
        </div>
    {% endif %}

    {% if msjPagas is defined %}
        <div class="alert alert-{% if success %}success{% else %}danger{% endif %} alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <strong>Atenci&oacute;n! </strong>{{msjPagas}}           
        </div>
    {% endif %}
    
    {% if tieneCuotasImpagas %}
    	<div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">Listado de Cuotas Impagas | {{alumno.nombre ~ " " ~ alumno.apellido}}</div>
          <!-- Table -->
          <div class="panel-body" id="paginacion">

            <div class="input-group col-md-12">
                <div class="input-group-addon">
                  <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    <span class="glyphicon glyphicon-filter"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="opcionesDeFiltrado" style="padding:10px;">
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="numero" checked> 
                        <label>N&uacute;mero</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="anio" checked> 
                        <label>A&ntilde;o</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="mes" checked> 
                        <label>Mes</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="tipo" checked> 
                        <label>Tipo</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="monto" checked> 
                        <label>Monto</label>
                    </li>
                  </ul>
                </div>
                <input type="text" class="input-busqueda form-control" placeholder="Inicie su búsqueda aquí" />
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
            </div> 
              
            
              
              
            <table class="table table-hover">
              <thead>
                <tr>
                  
                  <th>
                    <button class="sort btn" data-sort="anio">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    A&ntilde;o
                  </th>
                  <th>
                    <button class="sort btn" data-sort="mes">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Mes
                  </th>
                  <th>
                    <button class="sort btn" data-sort="numero">
                        <span class="glyphicon glyphicon-sort"></span> 
                    </button>
                    N&uacute;mero
                  </th>
                  <th>
                    <button class="sort btn" data-sort="tipo">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Tipo
                  </th>
                  <th>
                    <button class="sort btn" data-sort="monto">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Monto
                  </th>
                  
                  <th>Pagar</th>
                  <th>Becar</th>
                </tr>
              </thead>
              <tbody class="list">
  	            {% for cuota in cuotasImpagas %}
  	              <tr>
  	                <td class="anio">{{cuota.anio}}</td>
  	                <td class="mes">{{cuota.mes}}</td>
                    <td class="numero">{{cuota.numero}}</td>
                    <td class="tipo">{{cuota.tipo}}</td>
                    <td class="monto">{{cuota.monto}}</td>
                    <td>
                        <div class="pagar btn btn-primary" id="pagar_{{cuota.id}}" cuota-id="{{cuota.id}}" title='pagar'>
                            <span class='glyphicon glyphicon-ok' ></span>
                        </div>      
                    </td>
                    <td>
                        <div class="becar btn btn-primary" id="becar_{{cuota.id}}" cuota-id="{{cuota.id}}" title='becar'>
                            <span class='glyphicon glyphicon-ok' ></span>
                        </div>      
                    </td>
  	              </tr>
  	            {% endfor %}
              </tbody>
            </table>
            <div class="col-md-4 col-md-offset-4">
                <ul class="pagination"></ul>
            </div>
          </div>
          <div class="panel-footer">

            <div class="col-md-4">
                Total a Pagar <span class="label label-danger" id="totalAPagar">0</span>
            </div>

            <div class="col-md-4">
                Total Seleccionado<span class="label label-success" id="totalSeleccionado">0</span>
            </div>

            <div class="col-md-4">
                <div class="btn-group btn-group-sm col-md-12" role="group" >
                  <button type="button" id="pagarSeleccion" class="btn btn-danger col-md-12">Pagar</button>
                </div>
            </div>
          </div>
          <form id="formulario" action="{{URL.backend_pago_seleccionado}}" method="post">
              
              {% if is_admin %}
                <div class="form-group">
                    <div class="col-md-4">
                          <label for="user">Usuarios de Gesti&oacute;n</label>
                          <select class="form-control" name="userId" required>
                            {% for user in usuariosGestion %}
                              <option value="{{user.id}}">{{user.username}}</option>
                            {% endfor %}
                          </select>
                    </div>
                </div>
            {% endif %}
             
            <input type="hidden" name="alumnoId" value="{{alumno.id}}">
            <div id="inputs">
               
            </div>
          </form>
      </div>
    {% endif %}
    
<!-- ##################################### cuotas pagas ################################### -->
    
    {% if tieneCuotasPagas %}
      <div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">Listado de Cuotas Pagas | {{alumno.nombre ~ " " ~ alumno.apellido}}</div>
          <!-- Table -->
          <div class="panel-body" id="paginacion">
              <div class="input-group col-md-12">
                <div class="input-group-addon">
                  <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    <span class="glyphicon glyphicon-filter"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="opcionesDeFiltrado" style="padding:10px;">
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="numero" checked> 
                        <label>Numero</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="anio" checked> 
                        <label>Añoo</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="mes" checked> 
                        <label>Mes</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="tipo" checked> 
                        <label>Tipo</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="monto" checked> 
                        <label>Monto</label>
                    </li>
                  </ul>
                </div>
                <input type="text" class="input-busqueda form-control" placeholder="Inicie su búsqueda aquí" />
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>

            </div>       
                                    

            <table class="table table-hover">
              <thead>
                <tr>                
                  <th>
                    <button class="sort btn" data-sort="anio">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    A&ntilde;o
                  </th>
                  <th>
                    <button class="sort btn" data-sort="mes">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Mes
                  </th>
                  <th>
                    <button class="sort btn" data-sort="numero">
                        <span class="glyphicon glyphicon-sort"></span> 
                    </button>
                    N&uacute;mero
                  </th>
                  <th>
                    <button class="sort btn" data-sort="tipo">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Tipo
                  </th>
                    <th>
                    <button class="sort btn" data-sort="becado">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Becado
                  </th>
                  <th>
                    <button class="sort btn" data-sort="monto">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Monto
                  </th>
                  
                </tr>
              </thead>
              <tbody class="list">
                {% for cuota in cuotasPagas %}
                  <tr>                 
                    <td class="anio">{{cuota.data.anio}}</td>
                    <td class="mes">{{cuota.data.mes}}</td>
                    <td class="numero">{{cuota.data.numero}}</td>
                    <td class="tipo">{{cuota.data.tipo}}</td>
                    <td class="becado">{% if cuota.beca %} si {% else %} no {% endif %}</td>
                    <td class="monto">{{cuota.data.monto}}</td>                    
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="col-md-4 col-md-offset-4">
                <ul class="pagination"></ul>
            </div>
          </div>
      </div>
    {% endif %}

      <script type="text/javascript">
        $( document ).ready(function() {

          var total=0;
          $(".monto").each(function() {
            total += parseFloat($(this).text());
          });

          $('#totalAPagar').text('$ '+ total);

          $('.pagar').click(function(){
            $(this).toggleClass("btn-primary btn-danger");
            $(this).children().toggleClass("glyphicon-ok glyphicon-remove");
            var id = $(this).attr('cuota-id');
            var monto = $(this).parent().parent().find('.monto').text();
            if ($('#beca_'+id).length){
              $('#beca_'+id).remove();
            }
            if ($('#cuota_'+id).length){
              $('#cuota_'+id).remove();
            }else{
              var text = "<input type='hidden' name='coutas[]' class='cuotaAPagar' id='cuota_"+id+"'' monto='"+monto+"' value='"+id+"'>";
              $('#inputs').append(text);
            }
            actualizarSubtotal();
          });

          $('.becar').click(function(){
            $(this).toggleClass("btn-primary btn-danger");
            $(this).children().toggleClass("glyphicon-ok glyphicon-remove");
            var id = $(this).attr('cuota-id');
            var monto = $(this).parent().parent().find('.monto').text();
            console.log($('#pagar_'+id));
            $('#pagar_'+id).toggleClass("btn-primary btn-danger");
            $('#pagar_'+id).children().toggleClass("glyphicon-ok glyphicon-remove");
            if ($('#cuota_'+id).length){
              $('#cuota_'+id).remove();
            }
            if ($('#beca_'+id).length){
              $('#beca_'+id).remove();
            }else{
              var text = "<input type='hidden' name='becas[]' class='cuotaABecar' id='beca_"+id+"'' monto='"+monto+"' value='"+id+"'>";
              $('#inputs').append(text);
            }
            actualizarSubtotal();
          });

          $('#pagarSeleccion').click(function(){
            var r = confirm("Está seguro que desea realizar el pago?");
            if (r == true) {
                $('#formulario').submit();
            }
          });

          var monkeyList = new List('paginacion', {
              valueNames: [ 'anio','mes','numero','tipo', 'monto', "comision", "fechaAlta"],
              page: {{paginacion}},
              plugins: [ ListPagination({}) ] 
          });

          $(".input-busqueda").keyup(function(){
              filtros = [];
              $("input[name='busqueda']:checked").each(function() {
                  filtros.push($(this).val());
              });
              monkeyList.search($(this).val(), filtros)
          });
        

        });
        
        function actualizarSubtotal(){
          var total=0;
          $(".cuotaAPagar").each(function() {
            total += parseFloat($(this).attr('monto'));
          });
          $('#totalSeleccionado').text('$ '+ total);
        }
        
    </script>
{% endblock %}
