{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block title %} Administracion | Usuario | Ver{% endblock %}

{% block dataAdmin %}
      <div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">Ver Usuario: {{usuario.username}}</div>
          <!-- Table -->
          <div class="panel-body">
            <div>
              <div class="form-group">
                <div class="col-md-4">
                  <label for="username">Nombre de Usuario</label>
                  <div class="form-control" >{{usuario.username}}</div>
                </div>
                <div class="col-md-4">
                  <label for="username">Email</label>
                  <div class="form-control" >{{usuario.email}}</div>
                </div>
                <div class="col-md-4">
                  <label for="password">Contraseña</label>
                  <div class="form-control">*********</div>
                </div>
                <div class="col-md-4">
                  <label for="rol">Rol</label>
                  <div class="form-control" > {{usuario.rol}}</div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
      </script>
{% endblock %}
