<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ URL.backend_index }}">Panel de Administraci&oacute;n</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{session.username |capitalize }} <span class="caret"></span></a>
          <span class="rol">Rol: {{session.rol}}</span>
          <ul class="dropdown-menu">
{#             <li><a href="#">Perfil</a></li>
 #}            <li><a href="{{ URL.backend_salir }}">Salir</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>