{% extends 'backend/index.html.twig' %}
{% block title %} Administración | Estadísticas {% endblock %}

{% block addJS %}
  <script src="{{resource}}js/Chart.js"></script>
  <script src="{{resource}}js/jsPDF/jspdf.js"></script>
  <script src="{{resource}}js/jsPDF/jspdf.debug.js"></script>
  <script src="{{resource}}js/jsPDF/libs/FileSaver.js/FileSaver.js"></script>

{% endblock %}

{% block addCSS %}
{% endblock %}

{% block dataAdmin %}
  {% for año, dato in datos %}
    <div class="btn btn-primary botonAdd" id="exportar" anio="{{año}}">Exportar a PDF</div>
    <div class="panel panel-primary">
      <div class="panel-heading" id="name">Estadísticas {{año}}</div>
      <div class="panel-body padding0">
        <div style="width:96%; padding:2%;">
          <canvas id="canvas{{año}}" class="canvasImg" height="400" width="800"></canvas>
        </div>
      </div>
    </div>
  <script>
    var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
    var lineChartData{{año}} = {
      labels : ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre",""],
      datasets : [
        {
          label: "Mensual",
          fillColor : "rgba(220,220,220,0.2)",
          strokeColor : "rgba(220,220,220,1)",
          pointColor : "rgba(220,220,220,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(220,220,220,1)",
          data : [
            {% for cant in dato['mensual'] %}
              {{cant}},
            {% endfor %}
          ]
        },
        {
          label: "Matrícula",
          fillColor : "rgba(151,187,205,0.2)",
          strokeColor : "rgba(151,187,205,1)",
          pointColor : "rgba(151,187,205,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(151,187,205,1)",
          data : [
            {% for cant in dato['matricula'] %}
              {{cant}},
            {% endfor %}
          ]
        }
      ]

    }

    function cargar{{año}}(){
      var ctx = document.getElementById("canvas{{año}}").getContext("2d");
      window.myLine = new Chart(ctx).{{tipo}}(lineChartData{{año}}, {
        responsive: true
      });
    }

  </script>
  {% endfor %}

  <script>
    window.onload = function(){
      {% for año, dato in datos %}
        cargar{{año}}();
      {% endfor %}
    }
    $('#exportar').click(function(){
      var imgData = $('.canvasImg')[0].toDataURL();
      var doc = new jsPDF();

      doc.setFontSize(40);
      doc.text(16, 25, "Estadísticas Anuales - "+$(this).attr('anio'));
      doc.setFontSize(22);
      doc.setTextColor(220,220,220);
      doc.text(20, 40, 'Mensuales');
      doc.setTextColor(151,187,205);
      doc.text(20, 49, 'Matrículas');
      doc.addImage(imgData, 'JPEG', 15, 60, 180, 90);
      doc.save($('#name').text());

    });
  </script>

  <div id="leyenda">
    <ul>
      <li><span class="mensual circulo"></span>Mensuales</li>
      <li><span class="matricula circulo"></span>Matrículas</li>
    </ul>
  </div>

{% endblock %}
