{% extends 'backend/index.html.twig' %}
{% block title %} Administraci&oacute;n | Cuotas{% endblock %}

{% block dataAdmin %}
      {% if msj is defined %}
        <div class="alert alert-{% if success %}success{% else %}danger{% endif %} alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <strong>Atenci&oacute;n! </strong>{{msj}}
        </div>
      {% endif %}
      <a class="btn btn-primary botonAdd" href="{{URL.backend_cuota_agregar}}" role="button">Agregar Cuota</a>

      <div class="panel panel-primary" id="paginacion">
          <!-- Default panel contents -->
          <div class="panel-heading">Listado de Cuotas</div>
          <!-- Table -->                          
            <table class="table">
              <thead>
                <tr>
                  
                  <th>
                    <button class="sort btn" data-sort="anio">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Año
                  </th>
                  <th>
                    <button class="sort btn" data-sort="mes">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Mes
                  </th>
                  <th>
                    <button class="sort btn" data-sort="tipo">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Tipo
                  </th>
                  <th>
                    <button class="sort btn" data-sort="monto">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Monto
                  </th>
                  <th>
                    <button class="sort btn" data-sort="comision">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Comisión Cobrador
                  </th>
                  <th>
                    <button class="sort btn" data-sort="fechaAlta">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Fecha de Alta
                  </th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody class="list">
  	            {% for cuota in cuotas %}
  	              <tr>
  	                
  	                <td class="anio">{{cuota.anio}}</td>
  	                <td class="mes">{{cuota.mes}}</td>
                    <td class="tipo">{{cuota.tipo}}</td>
                    <td class="monto">{{cuota.monto}}</td>
                    <td class="comision">{{cuota.comisionCobrador}}</td>
                    <td class="fechaAlta">{{cuota.fechaAlta | date("d/m/Y")}}</td>
                    <td>
                        <div class="">
                            <a class="btn btn-primary" href="{{URL.backend_cuota_editar}}?id={{cuota.id}}" title='Editar'>
                                <span class='glyphicon glyphicon-pencil' ></span>
                            </a>
                            <a class="btn btn-danger" href="{{URL.backend_cuota_eliminar}}?id={{cuota.id}}" title='Eliminar'>
                                <span class='glyphicon glyphicon-remove'></span>
                            </a>       
                        </div>               
                    </td>
  	              </tr>
  	            {% endfor %}
                 
              </tbody>
                
            </table>
            <div class="col-md-4 col-md-offset-4">
                <ul class="pagination"></ul>
            </div>
          
         
          </div>

      </div>

      <script type="text/javascript">
        $( document ).ready(function() {
            var monkeyList = new List('paginacion', {
              valueNames: ['numero', 'anio','mes','tipo', 'monto', "comision", "fechaAlta"],
              page: {{paginacion}},
              plugins: [ ListPagination({}) ] 
          });
        });
    </script>

      
{% endblock %}
