{% extends 'AnexaCooperadoraBundle:backend:inicio.html.twig' %}

{% block title %} Administracion | Alumnos{% endblock %}

{% block dataAdmin %}
    {% if session.rol != "Consulta" %}
      {% if msj is defined %}
        <div class="alert alert-{% if success %}success{% else %}danger{% endif %} alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <strong>Atención!</strong>{{msj}}
        </div>
      {% endif %}
      {% if session.rol == "Administracion" %}
        <a class="btn btn-primary botonAdd" href="{{URL.backend_alumno_agregar}}" role="button">Agregar Alumno</a>
      {% endif %}
    {% endif %}
    	<div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">Listado de Alumnos</div>
          <!-- Table -->
          <div class="panel-body" id="paginacion">

            <div class="input-group col-md-12">
                <div class="input-group-addon">
                  <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    <span class="glyphicon glyphicon-filter"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="opcionesDeFiltrado" style="padding:10px;">
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="nombre" checked> 
                        <label>Nombre</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="apellido" checked> 
                        <label>Apellido</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="dni" checked> 
                        <label>DNI</label>
                    </li>
                  </ul>
                </div>
                <input type="text" class="input-busqueda form-control" placeholder="Inicie su búsqueda aquí" />
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>

            </div>                                      

            <table class="table">
              <thead>
                <tr>
                  <th>
                    <button class="sort btn" data-sort="id">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    #
                  </th>
                  <th>
                    <button class="sort btn" data-sort="nombre">
                        <span class="glyphicon glyphicon-sort"></span> 
                    </button>
                    Nombre
                  </th>
                  <th>
                    <button class="sort btn" data-sort="apellido">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    Apellido
                  </th>
                  <th>
                    <button class="sort btn" data-sort="dni">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                    DNI
                  </th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody class="list">
  	            {% for alumno in alumnos %}
  	              <tr>
  	                <th scope="row" class="id">{{alumno.id}}</th>
  	                <td class="nombre">{{alumno.nombre}}</td>
  	                <td class="apellido">{{alumno.apellido}}</td>
  	                <td class="dni">{{alumno.dni}}</td>
                    <td>
                        <div class="">
                            <a class="btn btn-success" href="{{URL.backend_alumno_ver}}?id={{alumno.id}}" title='Ver'>
                                <span class='glyphicon glyphicon-eye-open'></span>
                            </a>
                            {% if session.rol != "Consulta" %}
                                <a class="btn btn-primary" href="{{URL.backend_alumno_editar}}?id={{alumno.id}}" title='Editar'>
                                    <span class='glyphicon glyphicon-pencil' ></span>
                                </a>
                                {% if session.rol != "Gestion" %}
                                  <a class="btn btn-danger" href="{{URL.backend_alumno_eliminar}}?id={{alumno.id}}" title='Eliminar'>
                                      <span class='glyphicon glyphicon-remove'></span>
                                  </a>       
                                {% endif %}   
                            {% endif %}   
                        </div>               
                    </td>
  	              </tr>
  	            {% endfor %}
              </tbody>
            </table>
            <div class="col-md-4 col-md-offset-4">
                <ul class="pagination"></ul>
            </div>
          </div>
      </div>
      <script type="text/javascript">
        $( document ).ready(function() {
            var monkeyList = new List('paginacion', {
              valueNames: ['id', 'nombre','apellido','dni'],
              page: {{paginacion}},
              plugins: [ ListPagination({}) ] 
          });

          $(".input-busqueda").keyup(function(){
              filtros = [];
              $("input[name='busqueda']:checked").each(function() {
                  filtros.push($(this).val());
              });
              monkeyList.search($(this).val(), filtros)
          });
        });
        
    </script>
{% endblock %}
