{% extends 'AnexaCooperadoraBundle:backend:inicio.html.twig' %}

{% block title %} Administración | Alumnos | Ver{% endblock %}

{% block dataAdmin %}
    	<div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">Detalles del Alumno</div>
          <!-- Table -->
          <div class="panel-body">
              <div class="form-group col-md-12">
              <div class="form-group">
                <div class="col-md-4">
                  <label for="nombre">Nombre</label>
                  <div class="form-control">{{alumno.nombre}}</div>
                </div>
                <div class="col-md-4">
                  <label for="apellido">Apellido</label>
                  <div class="form-control" > {{alumno.apellido}}</div>
                </div>
                  <div class="col-md-4">
                  <label for="fechaNac">Fecha de Nacimiento</label>
                  <div class="form-control">{{alumno.fechaNacimiento | date("Y-m-d") }}</div>
                </div>
              </div>
              </div>
              <div class="form-group col-md-12">
                <div class="col-md-2">
                  <label for="tipoDNI">Tipo DNI</label>
                  <div class="form-control">{{alumno.tipoDni}}</div>
                </div>
                <div class="col-md-4">
                  <label for="dni">DNI</label>
                  <div class="form-control">{{alumno.dni}}</div>
                </div>
                  <div class="col-md-2">
                  <label for="sexo">Sexo</label>
                   <div class="form-control" >{{alumno.sexo}}</div>
                </div>
                  <div class="col-md-3">
                  <label for="telefono">Teléfono</label>
                  <div class="form-control">{{alumno.telefono}}</div>
                </div>
              </div>
              <div class="col-md-12" >
                  <div class="form-group">
                      <div class="col-md-6">
                          <label for="email">Email</label>
                          <div class="form-control" >{{alumno.email}}</div>
                     </div>
                      <div class="col-md-3">
                          <label for="fechaIngreso">Fecha de Ingreso</label>
                          <div class="form-control" >{{alumno.fechaIngreso | date("Y-m-d") }}</div>
                        </div>
                        <div class="col-md-3">
                          <label for="fechaEgreso">Fecha de Egreso</label>
                          <div class="form-control" >{{alumno.fechaEgreso | date("Y-m-d") }}</div>
                        </div>
                  </div>
              </div>
              
              <div class="form-group col-md-12">
                <div class="form-group">  
                  <div class="col-md-4">
                  <label for="calle">Calle</label>
                  <div class="form-control" id="calle" >{{alumno.calle}}</div>
                </div>
                  <div class="col-md-4">
                  <label for="numero">Número</label>
                  <div class="form-control" id="numero" >{{alumno.numero}}</div>
                </div>
                  <div class="col-md-4">
                      <label for="codigoPostal">Código Postal</label>
                      <div class="form-control" id="codigoPostal" >{{alumno.codigoPostal}}</div>
                </div>
                </div> 
              </div>
                <div class="form-group col-md-12">    
                  <div class="col-md-5">
                    <label for="provincia">Provincia</label>
                    <div class="form-control" id="provincia" >{{alumno.provincia}}</div>
                  </div>
                <div class="col-md-5">
                        <label for="pais">País</label>
                        <div class="form-control" id="pais" >{{alumno.pais}}</div>
                    </div>
              </div>
                  <div class="form-group col-md-12">
                      <div class="col-md-5 col-offset-md-2">
                        <label>Responsables Agregados</label>
                        <ul id="listResponsables" class="list-group">
                          {% for responsable in responsables %}
                            <li class='list-group-item'>
                              {{responsable.nombre ~ " " ~ responsable.apellido}}
                              <span class="badge">DNI:{{responsable.dni}}</span>
                            </li>
                          {% endfor %}  
                        </ul>  
                      </div>
                      <div class="form-group col-md-7 margin-top0">
                      <input type="hidden" name="lat" id="lat" value="{{alumno.latitud}}">
                      <input type="hidden" name="long" id="long" value="{{alumno.longitud}}">
                    <div id="Map" class="img-thumbnail col-md-12" style="height:250px"></div>
                </div>
              </div>
          </div>
      </div>
     
    <script type="text/javascript">
          $(document).ready(function() {
             

                var lat = {% if alumno.latitud %}{{alumno.latitud}}{% else %}-34.920963{% endif %};
                var lon =  {% if alumno.longitud %} {{alumno.longitud}} {% else %}-57.954847{% endif %};
                var zoom = 14;
             
                var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
                var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
                var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);
             
                map = new OpenLayers.Map("Map");
                var mapnik         = new OpenLayers.Layer.OSM();
                map.addLayer(mapnik);
              
                {% if alumno.longitud %}
                var markers = new OpenLayers.Layer.Markers( "Markers" );
                map.addLayer(markers);
                markers.addMarker(new OpenLayers.Marker(position));
                {% endif %}
                map.setCenter(position, zoom);    



              $('.direccion').change(function(){
                var numero=$('#numero').val();
                var calle=$('#calle').val();
                var ciudad = $('#ciudad').val();
                var codigoPostal = $('#codigoPostal').val();
                var provincia = $('#provincia').val();
                var pais=$('#pais').val();
                var dir = numero + ", " + calle + ", " + ciudad + ", " + provincia + ", " + codigoPostal + ", " + pais;
                $.ajax({
                  url : ' http://nominatim.openstreetmap.org/search?q='+dir+'&format=json&polygon=1&addressdetails=1',
                  cache: false
                })
                  .done(function( direcciones ) {
                    if (!direcciones.length == 0){
                      $('.opcion').remove();
                      $(direcciones).each(function(index, dir){
                         $('#resultados').append('<option class="opcion" value="'+dir['place_id']+'" id="'+dir['place_id']+'" lat="'+dir['lat']+'" long="'+dir['lon']+'">'+dir['display_name']+'</option>');
                      }); 
                    }

                  });
              });
              $('#resultados').change(function(){
                $.each( map.layers[1].markers, function( key, value ) {
                  map.layers[1].removeMarker(value);
                });
                for (index = 0; index < map.layers[1].markers.length; index++) {
                  map.layers[1].removeMarker(map.layers[1].markers[index]);
                }
                var option = $("#resultados option:selected");
                $('#long').val(option.attr('long'));
                $('#lat').val(option.attr('lat'));
                $('#direccion').val(option.text());
                var position       = new OpenLayers.LonLat(option.attr('long'), option.attr('lat'))
                                      .transform(
                                        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                                        map.getProjectionObject() // to Spherical Mercator Projection
                                      );
                var markers = new OpenLayers.Layer.Markers( "Markers" );
                map.addLayer(markers);
                markers.addMarker(new OpenLayers.Marker(position));
                map.setCenter(position, 15);
                });
          });

      </script>
{% endblock %}


{% block addJS %}
    <script src="{{resource}}/js/openlayers-master/lib/OpenLayers.js"></script>
    <script src="{{resource}}/js/jquery.select-filter.min.js"></script>

{% endblock %}

