<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{# URL.backend_index #}">Panel de Administraci&oacute;n</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          {{app.user.username}}   <span class="caret"></span></a>
          <span class="rol">Rol:{{ app.user.roles[0] |replace({'ROLE_SUPER_ADMIN': "Administrador", 'ROLE_ADMIN': "Gestion", 'ROLE_USER': "Consulta"}) }}</span>
          <ul class="dropdown-menu">
{#             <li><a href="#">Perfil</a></li>
 #}            <li><a href="{{ path('fos_user_security_logout') }}">Salir</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
