{% extends 'AnexaCooperadoraBundle:backend:inicio.html.twig' %}

{% block title %} Administracion | Cuotas | Editar{% endblock %}

{% block dataAdmin %}
    	<div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">Editar Cuota {{cuota.numero}}</div>
          <!-- Table -->
          <div class="panel-body">
            <form action="{{URL.backend_cuota_editar}}?id={{cuota.id}}" method="post">
              <input type="hidden" name="token" value="{{token}}">
              <div class="form-group">
                <div class="col-md-6">
                  <label for="numero">Número</label>
                  <input type="number" class="form-control" id="numero" name="numero" placeholder="Número" value="{{cuota.numero}}" required >
                </div>
                <div class="col-md-6">
                  <label for="anio">Año</label>
                  <input type="number" class="form-control" id="anio" name="anio" placeholder="Año" value="{{cuota.anio}}" required>
                </div>
                <div class="col-md-6">
                  <label for="mes">Mes</label>
                  <input type="number" class="form-control" id="mes" name="mes" placeholder="Mes" value="{{cuota.mes}}" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-3">
                  <label for="tipo">Tipo Cuota</label>
                  <select class="form-control" name="tipo" required>
                    <option value="mensual">Mensual</option>
                    <option value="matricula">Matrícula</option>
                  </select>
                </div>
                <div class="col-md-5">
                  <label for="monto">Monto</label>
                  <input type="number" class="form-control" name="monto" id="monto" placeholder="Monto" value="{{cuota.monto}}" required>
                </div>
                <div class="col-md-5">
                  <label for="comision">Porcentaje de Comisión Cobrador</label>
                  <input type="number" class="form-control" name="comision" id="comision" placeholder="Comisión Cobrador" value="{{cuota.comisionCobrador}}" required>
                </div>
                <div class="col-md-4">
                  <label for="fecha">Fecha de Alta</label>
                  <input type="date" class="form-control" id="fecha" name="fecha" placeholder="Fecha de Alta"
                  value="{{cuota.fecha | date("Y-m-d")}}" required>
                </div>
              </div>
              <button type="submit" class="btn btn-primary col-md-12">Editar Cuota</button>
            </form>
          </div>
      </div>
{% endblock %}
