{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block title %} Administración | Alumnos | Listado{% endblock %}

{% block dataAdmin %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
      <a class="btn btn-primary botonAdd" href="{{ path('alumno_new') }}">Agregar Alumno</a>
    {% endif %}

    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Listado de Alumnos</div>
        <!-- Table -->
        <div class="panel-body">

            <div class="input-group col-md-12">
                <div class="input-group-addon">
                  <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    <span class="glyphicon glyphicon-filter"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="opcionesDeFiltrado" style="padding:10px;">
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="nombre" checked> 
                        <label>Nombre</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="apellido" checked> 
                        <label>Apellido</label>
                    </li>
                    <li role="presentation">
                        <input type="checkbox" name="busqueda" value="dni" checked> 
                        <label>DNI</label>
                    </li>
                  </ul>
                </div>
                <input type="text" class="input-busqueda form-control" placeholder="Inicie su búsqueda aquí" />
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>

            </div> 

            <table class="table">
                <thead>
                    <tr>
                      <th>
                        <button class="sort btn" data-sort="id">
                            <span class="glyphicon glyphicon-sort"></span>
                        </button>
                        #
                      </th>
                      <th>
                        <button class="sort btn" data-sort="dni">
                            <span class="glyphicon glyphicon-sort"></span>
                        </button>
                        DNI
                      </th>
                      <th>
                        <button class="sort btn" data-sort="apellido">
                            <span class="glyphicon glyphicon-sort"></span>
                        </button>
                        Apellido
                      </th>
                      <th>
                        <button class="sort btn" data-sort="nombre">
                            <span class="glyphicon glyphicon-sort"></span> 
                        </button>
                        Nombre
                      </th>                  
                      <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alumno in alumnos %}
                        <tr>
                                                       
                          <td>{{ alumno.id }}</td>
                          <td>{{ alumno.dni }}</td>
                          <td>{{ alumno.apellido }}</td>
                          <td>{{ alumno.nombre }}</td>
                          <td>
                              <div class="">
                                  
                                <a class="btn btn-success" href="{{ path('alumno_show', { 'id': alumno.id }) }}" title="Ver"><span class='glyphicon glyphicon-eye-open'></span></a>

                                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_GESTION') %}
                                  <a class="btn btn-primary" href="{{ path('alumno_edit', { 'id': alumno.id }) }}" title="Editar"><span class='glyphicon glyphicon-pencil' ></span></a>
                                  {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <a class="btn btn-danger" href="{{path('alumno_delete', { 'id': alumno.id })}}" title='Eliminar'><span class='glyphicon glyphicon-remove'></span></a>
                                  {% endif %}   
                                {% endif %}   
                              </div>

                          </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        

          $(".input-busqueda").keyup(function(){
              filtros = [];
              $("input[name='busqueda']:checked").each(function() {
                  filtros.push($(this).val());
              });
              monkeyList.search($(this).val(), filtros)
          });
        });
        
    </script>

{% endblock %}
