{% extends 'AnexaCooperadoraBundle:backend:base.html.twig' %}

{% block dataAdmin %}
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Detalles del Responsable</div>
        <!-- Table -->
        <div class="panel-body">
            <div class="form-group col-md-12">
                
                <div class="col-md-6">
                    <label for="nombre">Nombre</label>
                    <div class="form-control">{{responsable.nombre}}</div>
                </div>
                <div class="col-md-6">
                    <label for="apellido">Apellido</label>
                    <div class="form-control" > {{responsable.apellido}}</div>
                </div>
                
            </div>
            <div class="form-group col-md-12">
                
                <div class="col-md-4">
                    <label for="fechaNac">Fecha de Nacimiento</label>
                    <div class="form-control">{{responsable.fechaNacimiento | date("d-m-Y") }}</div>
                </div>
                <div class="col-md-4">
                    <label for="tipoDNI">Tipo de Documento</label>
                    <div class="form-control">{{responsable.tipoDni}}</div>
                </div>
                <div class="col-md-4">
                    <label for="dni">Nro Documento</label>
                    <div class="form-control">{{responsable.dni}}</div>
                </div>
                
            </div>
            <div class="form-group col-md-12"> 
                 
                <div class="col-md-3">
                    <label for="sexo">Sexo</label>          
                    <div class="form-control" >{% if responsable.sexo == 'F' %} Femenino {% elseif  responsable.sexo == 'M'%} Masculino {% else %} Otro {% endif %}</div>
                </div>
                <div class="col-md-4">
                    <label for="telefono">Teléfono</label>
                    <div class="form-control">{{responsable.telefono}}</div>
                </div>
                <div class="col-md-5">
                    <label for="email">Email</label>
                    <div class="form-control" >{{responsable.email}}</div>
                </div>
                
            </div>

            <div class="form-group col-md-12"> 
                 
                <div class="col-md-3">
                    <label for="direccion">Dirección</label>          
                    <div class="form-control">{{responsable.direccion}}</div>
                </div>
                <div class="col-md-5">
                    <label for="user">Usuario</label>
                    <div class="form-control" >{{usuario.username}}</div>
                </div>
            </div>         
            
            <div class="form-group">
                <div class="col-md-5 col-offset-md-2">
                  <label>Alumnos Agregados</label>
                  <ul id="listResponsables" class="list-group">
                    {% for alumno in alumnos %}
                      <li class='list-group-item'>
                        {{alumno.nombre ~ " " ~ alumno.apellido}}
                        <span class="badge">DNI: {{alumno.dni}}</span>
                      </li>
                    {% endfor %}
                    
                  </ul>  
                </div>
              </div>
        </div>
    </div>
{% endblock %}
