<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anexa | {% block title %}{% endblock %}</title>

    <link href="{{ asset('bundles/css/bootstrap.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/css/custom.css')}}" rel="stylesheet">
    {% block addCSS %}{% endblock %}
    <script src="{{ asset('bundles/js/jquery-1.10.2.js')}}"></script>

  </head>
  <body>
    {% block page %}
      {% block header %}{% endblock %}

      {% block menu %}{% endblock %}

      <div class="container">
        <div class="row">
          {% block cuerpo %}{% endblock %}
        </div>
      </div>
      {% block footer %}
        <div>
          <footer class="footer">
            <p class="text-muted text-center">Grupo 57 - Proyecto de Software 2015</p>
          </footer>
        </div>
      {% endblock %}

      <script src="{{ asset('bundles/js/bootstrap.min.js')}}"></script>
      {% block addJS %}{% endblock %}
    {% endblock %}
  </body>
</html>
