{% extends 'basePdf.html.twig' %}
{% block title %}Cuotas Impagas{% endblock %}

{% block cuerpo %}
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">{{info}}</div>
        <div class="panel-body">
            <table class="table">
               <thead>
                  <tr>
                      <th>
                        DNI
                     </th>
                     <th>
                        Nombre
                     </th>
                     <th>
                        Apellido
                     </th>             
                 </tr>
               </thead>

               <tbody class="list">
                   {% for alumno in alumnos %}
                       <tr>
                        <!-- <th scope="row" class="id">{{alumno.id}}</th> -->
                           <td class="dni">{{alumno.dni}}</td>
                           <td class="nombre">{{alumno.nombre}}</td>
                           <td class="apellido">{{alumno.apellido}}</td>
                           
                        </tr>
                   {% endfor %}
               </tbody>
           </table>
       </div>
</div>
{% endblock %}